<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByB9NGTfbYCA7OA_edkv_T3563zGaOosE</string>
	<key>GCM_SENDER_ID</key>
	<string>1029145018139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bettyApp</string>
	<key>PROJECT_ID</key>
	<string>betty-la-fragoneta</string>
	<key>STORAGE_BUCKET</key>
	<string>betty-la-fragoneta.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029145018139:ios:98d90390fba7c44fbc1dbe</string>
</dict>
</plist>